# dependencies
node_modules/
.pnp
.pnp.*

# testing
coverage/

# next.js
.next/
out/

# production
build/

# firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*

# misc
.DS_Store
*.pem
.env*
.vercel
*.tsbuildinfo
